@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.project {
  transition: transform 200ms;
}

.project:hover {
  transform: scale(1.05);
  transition: transform 500ms;
  border: #854ce6 2px solid;
}

.projectWhite {
  background-size: cover;
  transition: transform 500ms, border 500ms, box-shadow 500ms; 
}

.projectWhite:hover {
  border: #9a78d6 2px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #4af626;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
}
.img {
  background-image: url("./../../public/MERN.png");
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.eCommerce {
  border-radius: 4px;
  background-image: url("./../../public/eCommerce.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.pepsi {
  border-radius: 4px;
  background-image: url("./../../public/pepsi.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.school {
  border-radius: 4px;
  background-image: url("./../../public/school.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.food {
  border-radius: 4px;
  background-image: url("./../../public/food.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.blog {
  border-radius: 4px;
  background-image: url("./../../public/blog.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.hrms {
  border-radius: 4px;
  background-image: url("./../../public/hrms.png");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.all-1000 {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}
